<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"
	th:with="title='Creditor Web Site Login'">
</head>

<body class="loginBody">
	<div class="login-page">
		<div class="form">

		<h3 class="form-signin-heading">Demo PKI Manager</h3>
			<div class="logincontainer">

				<form th:action="@{/login}" method="POST" class="form-signin">

					<br /> <input type="text" id="email" name="email"
						th:placeholder="Email" class="form-control" /> <br /> <input
						type="password" th:placeholder="Password" id="password"
						name="password" class="form-control" /> <br />

					<div align="center" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19;">Email or Password
							invalid, please verify</p>
					</div>
					<button class="btn btn-lg btn-primary btn-block" name="Submit"
						value="Login" type="Submit" th:text="Login"></button>
				</form>

				<p class="message">Not registered?</p>
				<form th:action="@{/registration}" method="get">
					<button class="btn btn-md btn-warning btn-block" type="Submit">Create
						an account</button>
				</form>
			</div>


		</div>
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>